@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 70px;
    align-items: center;
    background-color: #d0d0dc;
    border-bottom: 1px solid #e9ecef;
}

.header-div {
    display: flex;
    padding-left: 48px;
    justify-content: space-between;
    width: 95vw;
}

.world-coin-button {
    padding: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    background: #fff;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
    border: none;
    min-height: 2.5rem;
    border-radius: 0.5rem;
}

.navbar-main {
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 70px;
    left: 0;
    border-right: 1px solid #e9ecef;
    border-top: 1px solid #e9ecef;
    background-color: #fff;
}

.navbar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

.navbar-text {
    font-size: 1.15rem;
    line-height: 1.25rem;
}

.navbar {
    width: 70%;
    background: MEDIUMPURPLE;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.main-card:hover {
    box-shadow: 2px 1px 5px gray;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.card-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-detail {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.card-name p {
    font-size: 1.05rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.card-divider {
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;
    color: #ccc;
}

.invest-btn {
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: red;
    border: 1px solid red;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25rem;
}

.add-to-cart-btn {
    border: none;
    cursor: pointer;
    background: transparent;
    line-height: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.invested-amount p, .created-by p {
    font-size: 16px !important;
    margin-bottom: 10px !important;
    margin-top: 0px;
}

.token-includes p {
    font-size: 16px !important;
    margin-bottom: 5px !important;
    margin-top: 0px;
}

.invested-amount span, .created-by span {
    color: grey;
    margin-top: 0px !important;
    font-size: 14px;
}

.card-detail-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    justify-content: space-between;
}

.main-section {
    margin-top: 8%;
    margin-left: 18%;
    width: 80%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}